<div class="row  cpractive" ng-controller="E_Englishparagraph">
  <div class="col-md-8">
    <div class="ListenAndWrite">
      <div class="col-lg-6 col-xsm-6">
       <img src="images/qianbi2.png">
       <button class="btn btn-success btn-lg Typesetbtn_2" type="button" ng-click="btn()"><span class="glyphicon glyphicon-play-circle"></span>听写句子</button><button type="button" ng-click="compare()">对比</button>
     </div>
     <div class="col-lg-6 col-xsm-6  Typesetting_1">
       <span class="grey999">不要忘记标点符号哦~</span>
     </div>
   </div>
   <div class="listenEnglish"> 
     <textarea class="writeArea"  ng-model="myinput"></textarea>

   </div>
   <div class="writeEnglish">
     <!-- {{Englishparagraph[0].eachsentence}}<br>
     letters：{{letters}} <br> -->
    <span ng-repeat="letter in letters track by $index" class="{{$index==shuzu[0]?'red':'className'}}">{{letter}}</span>
   </div>
 </div>
 <div class="col-md-4">
   <div class="PlayCount">
     <span class="grey666 headline">本句播放次数  <span class="green_20">1 </span>/3</span>
   </div>
   <div class="accuracy">
     <div class="panel-body">
      <table class="table">
        <tbody>
         <!--   ng-class="{'addbg': show}" -->
          <tr ng-repeat="paragraph in Englishparagraph" ng-class="{'{{$index==0?'addbg':''}}':show}">
            <td class="grey666">第{{$index+1}}句</td>
            <td class="grey666">正确 --</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


