<div class="row  cpractive">
  <div class="col-md-8">
    <div class="ListenAndWrite">
      <div class="col-lg-6 col-xsm-6">
       <img src="../../images/qianbi2.png">
       <button class="btn btn-success btn-lg Typesetbtn_2" type="button"><span class="glyphicon glyphicon-play-circle"></span>听写句子</button>
     </div>
     <div class="col-lg-6 col-xsm-6  Typesetting_1">
       <span class="grey999">不要忘记标点符号哦~</span>
     </div>
   </div>
   <div class="listenEnglish">
    What shoul  i do with it
  </div>
  <div class="writeEnglish">
    What shoul  i do with it
  </div>
</div>
<div class="col-md-4">
 <div class="PlayCount">
   <span class="grey666 headline">本句播放次数  <span class="green_20">1 </span>/3</span>
 </div>
 <div class="accuracy">
   <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>第1句</td>
          <td>正确 5/6</td>
        </tr>
        <tr>
          <td>第1句</td>
          <td>正确 5/6</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>