<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../css/E_listen.css">
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
<body>
<div  class="container">
    <section>
        <div class="row">
            <div class="col-sm-8">
                 <div class="dictation_score borderRadius"><!-- 听写分数 -->
                       96 分班级最高分：98
                 </div>  
            </div>
            <div class="col-sm-4">
                <div class="classmate_score borderRadius"><!-- 同学分数 -->
                     <button class="btn btn-success btn-lg Typesetbtn1" type="button">再试一次</button>
                </div>
            </div>
       </div>
    </section>
</div>
</body>