<div class="footer">
  <div class ="top"></div>
  <div class ="center"></div>
  <div class ="bottom">
			<ul class="Foot">
			            <li>
			                 <span>电话:400-0518-958</span>
			                 <span>传真:010-62701546</span>
			                 <span>QQ:2462355594</span>
			                 <span>邮箱:kefu@tfedu.net</span> 
			                 <span>邮编:100084</span>
			                 <span>地址:北京市海淀区王庄路1号清华同方科技广场A座17层 </span>		                
			            </li>
			            <li>Copyright©2005-2011,All Rights Reserved 版权所有：同方知好乐教育科技（北京）有限公司-情景英语</li>
			            <li><a href="#">京ICP备 05083011</a></li>
			        </ul>
  </div>
</div>