<div class="card-holder">
  <div class="card-wrapper">
    <h4 class="card" ng-click="navleft.vm.collapsed = !navleft.vm.collapsed" ng-class="{card_in: !navleft.vm.collapsed}" >
      <a ui-sref="state1">
        <span>A</span>
        <span class="title collapse" ng-class="{collapse: navleft.vm.collapsed, title_in: !navleft.vm.collapsed}">Look and Listen</span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: !navleft.vm.collapsed}">
    <div class="panel-body">
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
    </div>
  </div>
  <div class="card-wrapper">
    <h4 class="card" ng-click="navleft.vm.collapsed = !navleft.vm.collapsed" ng-class="{card_in: !navleft.vm.collapsed}" >
      <span>B</span>
      <span class="title collapse" ng-class="{collapse: navleft.vm.collapsed}">Look and Listen</span>
    </h4>
  </div>
  <div class="panel-collapse collapse" ng-class="{in: !navleft.vm.collapsed}">
    <div class="panel-body">
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
      <h4 class="card">#</h4>
    </div>
  </div>
  <div class="card-wrapper">
    <h4 class="card" ng-click="navleft.vm.collapsed = !navleft.vm.collapsed" ng-class="{card_in: !navleft.vm.collapsed}" >
      <span>C</span>
      <span class="title collapse" ng-class="{collapse: navleft.vm.collapsed}">Look and Listen</span>
    </h4>
  </div>
  <div class="card-wrapper">
    <h4 class="card" ng-click="navleft.vm.collapsed = !navleft.vm.collapsed" ng-class="{card_in: !navleft.vm.collapsed}" >
      <span>D</span>
      <span class="title collapse" ng-class="{collapse: navleft.vm.collapsed}">Look and Listen</span>
    </h4>
  </div>
  <div class="card-wrapper">
    <h4 class="card" ng-click="navleft.vm.collapsed = !navleft.vm.collapsed" ng-class="{card_in: !navleft.vm.collapsed}" >
      <span>E</span>
      <span class="title collapse" ng-class="{collapse: navleft.vm.collapsed}">Look and Listen</span>
    </h4>
  </div>
</div>
